*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}

html,
body,
#root{
  height:100%;
  width:100%;
}

html{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.create-post-sec{
  height: 100%;
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #DBEAFE;
}

.create-post-sec form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #FFFFFF;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.create-post-sec input,
.create-post-sec textarea{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button{
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #2563EB;
  color: #F9FAFB;
  font-size: 16px;
  cursor: pointer;
}

.feed-sec{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 20px;
  min-height: 100vh;
  width: 100%;
  background-color: #DBEAFE;
  padding: 20px;
}

.post{
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  width: 100%;
  margin-bottom: 20px;
}

.post img{
  max-width: 100%;
  border-radius: 8px;
  margin-top: 20px;
}

.post h3{
  margin-bottom: 10px;
}